@mixin background {
    background-attachment: fixed;
    background-position: 200px -550px;
    background-repeat: no-repeat;
    background-size: cover;
}

.home {
    @include background;
    background-image: url('../images/head-back.jpg');
}

.opacity {
    opacity: 0.7;
}