/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$gray: rgba(245, 245, 245, 0.1);
$header: #1A1A1A;
$footer: #171717;

$hover: #3794B6;
$hoverText: rgb(0, 134, 243);
$hoverHighlight: #00b51e;
$current: #5DD5FF;

$highlight: #cdcdcd;
$titleHighlight: rgba(255, 255, 255, 0.6);

$headerDarken: rgba(0, 0, 0, 0.3);
$headerLighten: rgb(255, 255, 255);
$headerGray: rgb(225, 225, 225);
$invisibleBack: rgba($color: #000000, $alpha: 0.0);

$comment: #00d400;
$code: #071109;
$codetext: #fff;

$blurb: $header;

.gray {
    background-color: $gray;
}

.whiteText {
    color: white;
}