@media (max-width: 1224px) {
    .koala {
        max-width: 40%;
    }

    .home {
        background-position: 0px -350px;
    }

    .logo {
        max-width: 25%;
        top: 10px;
        right: 20px;
    }
}