@media (max-width: $minWidth) {
    html {
        margin: 0;
        // width: 100%;
        max-width: 100vw;
        display: block;
    }

    .button {
        margin-top: 30px;
        width: 90%;
        text-align: center;
    }

    body {
        width: 100%;
    }

    .koala {
        max-width: 50%;
        transition: 0s ease;
    }

    .fullspread {
        max-width: 100vw;

        .tableCol {
            display: table-row;

            figure,
            figcaption,
            .twothird-table,
            .onethird-table,
            .onehalf-table,
            .twothird,
            .onethird,
            .onehalf,
            .rescue,
            .success {
                display: table-cell;
                float: none;
                width: 100%;
                max-width: 100%;
                height: auto;
                padding: 30px;

                p,
                h2 {
                    vertical-align: middle;
                }
            }
        }
    }

    figure {
        position: relative;
        padding: 0 !important;
        margin: 0;
    }

    figure img {
        display: block;
        padding: 0 !important;
        max-width: 100%;
        height: auto;
    }

    figcaption {
        display: inline-block;
        position: absolute;
        padding: 0 !important;
        width: 100%;
    }

    .reverse {
        transform: ScaleY(-1);

        p,
        h2,
        a {
            transform: ScaleX(-1);
        }
    }

    .first {
        transform: ScaleY(-1);

        p,
        h2,
        a {
            transform: ScaleX(-1);
        }
    }

    .flipit {
        transform: rotate(180deg);
    }

    .home {
        background-position: center -250px;
    }

    .logo {
        max-width: 25%;
        top: 10px;
        right: 20px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        width: 100%;
        text-align: center;
        display: inline-block;
    }

    .innerPadding {
        padding: 0px 0px !important;
    }

    .paragraph,
    .social {
        margin: 10px;
        position: relative;
        right: -10px;
        width: 93%;
        padding-right: 0px;
    }

    p,
    .cp_embed_wrapper {
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 12pt;
    }

    .front {
        position: relative;
        margin-left: 2px;
        margin-right: 10px;
    }

    h1,
    .title {
        text-align: center;
        margin: 0;
    }

    li img {
        z-index: 1;
        position: relative;
        left: 15px;
        padding-bottom: 20px;
    }

    .extraSpace {
        padding-bottom: 80px;
    }

    header li a,
    header li {
        display: block;
        text-align: left;
        padding: 0px;
        clear: both;
    }

    .paragraph>.right {
        margin-top: 0;
        width: 100%;
    }

    .paragraph>.textRight {
        text-align: center;
    }

    .video {
        width: 500px;
        height: 200px;
    }
}